{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-4">Our Products</h1>

    <div class="row">
        {% for product in pagination %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{{ asset('uploads/images/'~ product.image) }}" alt="Product Image">
                    <div class="card-body">
                        <h4 class="card-title">{{ product.title }}</h4>
                        <p class="card-text truncate-text">{{ product.shortDescription }}</p>
                        <p><strong>Price:</strong> ${{ product.priceExclVat }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_product_detail', { id: product.id }) }}" class="btn btn-success">View Details</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No products found.</p>
        {% endfor %}
        <!-- Pagination Controls -->
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

    
</div>
{% endblock %}
